nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
}

nav p {
  text-transform: capitalize;
  font-size: 30px;
  color: #c0c0c0;
}

.main {
  width: 400px;
  height: 400px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 20px;
}

.main label {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.main input {
  padding: 5px 10px;
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}
